@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply outline-none p-1 bg-primary rounded-md
}

.button {
    @apply bg-blue text-white p-1 rounded-md
}

.button-red {
    @apply bg-red text-white p-1 rounded-md
}

.button-white {
    @apply bg-white text-blue p-1 rounded-md
}

.button-secondary {
    @apply bg-secondary text-white p-1 rounded-md
}

.alert {
     @apply bg-red p-1 rounded-md text-white shadow-xl
}

.alert-success {
     @apply bg-blue p-1 rounded-md text-white shadow-xl
}

.card {
    @apply bg-primary p-2 rounded-md shadow-md
}

.card-secondary {
    @apply bg-secondary p-2 rounded-md shadow-md
}

.card-image {
    @apply object-cover w-32 h-32 rounded-xl
}

.table {
    @apply w-full p-2 table-auto
}

.table-item {
    @apply p-2 text-left border-b border-secondary
}

.danger:hover {
    
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */ 
}
